@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Manrope Regular'), url('../woff/manrope-regular.woff') format('woff');
}


@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: local('Manrope Thin'), url('../woff/manrope-thin.woff') format('woff');
}


@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Manrope Light'), url('../woff/manrope-light.woff') format('woff');
}


@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Manrope Medium'), url('../woff/manrope-medium.woff') format('woff');
}


@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Manrope Semibold'), url('../woff/manrope-semibold.woff') format('woff');
}


@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: local('Manrope Bold'), url('../woff/manrope-bold.woff') format('woff');
}