@import "./variables";
@import "./fontiran.css";
@import "./monarpe.css";

body {
  //min-width: 375px !important;
}

.splash_page {
  background-color: #133C3E;
}

.page {
  background-color: $page_background_color;
}

* {
  font-family: $font_family;
}

.main-title {
  color: $main_title_color;
  font-size: $title_font_size;
  font-weight: $title_font_weight;
  line-height: $title_line_height;
}

.search-input::placeholder {
  font-size: $search_input_placeholder_font_size;
  font-weight: $search_input_placeholder_font_weight;
  line-height: $search_input_placeholder_line_height;
}
.select-location {
  .en-title {
    font-family: $en_font_family;
    font-size: $search_input_placeholder_font_size;
    font-weight: $search_input_placeholder_font_weight;
    line-height: $search_input_placeholder_line_height;
    color: $sub_title_color;
  }
  .city-name {
    font-size: $title_font_size;
    font-weight: $title_font_weight;
    line-height: $title_line_height;
    color: $main_title_color;
  }
}

.near-artist-view-box {
  background: linear-gradient(260.22deg, #B2550F -20.62%, rgba(255, 255, 255, 0) 95.26%);
}

.ltr-dir {
  direction: ltr !important;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


.carousel__pagination-button::after {
  background-color: #A9A7A7;
}

.fancybox__container {
  z-index: 9999999999 !important;
}

.vpd-input-group {
  label {
    display: none !important;
  }
  input {
    height: 38px;
    outline: none;
    border: none !important;
    border-radius: 8px !important;
  }
}
.Toastify__toast-container {
  z-index: 9999999999 !important;
}
.sidebar-link {
  transition: all .3s ease-in-out;
  svg {
    path {
      transition: all .3s ease-in-out;
    }
  }
  &.router-link-active {
    color: #2F80ED;
    background-color: rgba(47, 128, 237, .1);

    svg {
      path {
        fill: #2F80ED !important;
      }
    }
  }
  &:hover {
    transition: all .3s ease-in-out;
    color: #2F80ED;
    background-color: rgba(47, 128, 237, .1);

    svg {
      path {
        fill: #2F80ED !important;
        transition: all .3s ease-in-out;
      }
    }
  }
}