$splash_background_color: #FF3CA0;
$page_background_color: #FFFFFF;
$main_title_color: #141414;
$sub_title_color: #828282;
$font_family: dana;
$en_font_family: Manrope;
$title_font_size: 14px;
$title_font_weight: 500;
$title_line_height: 22px;
$search_input_placeholder_font_size: 12px;
$search_input_placeholder_font_weight: 500;
$search_input_placeholder_line_height: 17px;